@using TrainsMauiHybrid.Helpers
@inherits LayoutComponentBase
@inject EventHandleHelper themeHelper

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Bottom="true" Dense="true">
        <MudIconButton OnClick="DrawerToggle" Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start" />
        <MudSpacer/>
        <MudToggleIconButton ToggledChanged="@ToggleDarkMode" Icon="@Icons.Material.Filled.LightMode"
                             ToggledIcon="@Icons.Material.Filled.DarkMode"></MudToggleIconButton>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            
            <MudNavLink Match="NavLinkMatch.All" IconColor="Color.Inherit" Href="/"
            > <h3>Построение Железнодорожных Маршрутов</h3></MudNavLink>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudContainer Class="pt-1">
            @Body
        </MudContainer>
    </MudMainContent>

</MudLayout>


